{% extends 'Jah_Accounts/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-body" style="background-color: rgb(223, 220, 207);">
            <form action="" method="POST">
                {% csrf_token %}
                {% for formset in formset  %}
                    {{formset}}
                    <hr>
                {% endfor %}
                <input type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}