{% extends 'Jah_Accounts/main.html' %}
{% block content %}

{% include 'Jah_Accounts/Status.html' %}

    <table class="table table-sm">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Date Ordered</th>
            <th>Status</th>
        </tr>
    
        {% for y in orders  %}
            <tr>
                <td>{{ y.Product }}</td>
                <td>{{ y.Quantity }}</td>
                <td>{{ y.date_created }}</td>
                <td>{{ y.status }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}

