{% extends 'Jah_Accounts/main.html' %}
{% block content %}

{% include 'Jah_Accounts/Status.html' %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{{customer}}</h5>
            
            <hr>
            <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'createOrder' user.id %}">Place Order</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                </tr>
            
                {% for order in orders  %}
                    <tr>
                        <td>{{ order.Product }}</td>
                        <td>{{ order.Quantity }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.status }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}

